* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
	font: Calibri Light;
	background-color: #e9ffff;
	color: #2e2e2e;
}

.header {
	position:fixed;
    left:0;
    top:0;
	right: 0;
	width: 100%;
	z-index: 9999;
	height: 50px;
	background-color: black;
	}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.summary {
	font-size: 20px;
	color: white;
	margin-top: 60px;
	margin-bottom: 80px;
}
.content {
  position: relative;
  background: #464646 url(Images/sky.jpeg) no-repeat center center fixed;
  background-size: cover;
 }
 
 .description, .some-related-articles {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.description {
  padding-top: 100px;
  min-height: 250px;
  text-align: center;
}

.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: Calibri Light;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
  list-style-type: none;
  text-decoration: none;
}

.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}




.header li {
    float: left;
}
.header ul {
	position: fixed;
	font-family: Calibri Light;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.header li a:hover {
    background-color: #111;
}
.page {
	font-size: 120%;
	font-family: Calibri;
	margin-left: 300px;
	margin-right: 360px;
	color: black;
    width: 100%
}
h1{
	line-height: 46px;
	color: white;
	text-align: center;
	font-size: 50px;
}